body {
	background-image: url(img03/8.jpg);
	font-family: "宋体";
	font-size: 18px;
	line-height: 25px;
	color: rgb(253, 250, 250);
	background-repeat: no-repeat;
    /* 这个是控制背景大小的重点 */
	background-attachment: fixed;
	background-size: 100% 100%;
}

.container{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
}


.header{
    height: 15%;
    width: 100%;
    position: relative;
}

.header_nav{

    text-align: center;
    color: rgb(255, 249, 249);
}
.header_p{
    font-size: 45px;
}

.header_a{
    width: 140px;
    height: 180px;
    background-color: white;
    /* 水平垂直居中 */
    margin: 250px auto;


    background-color: #6495ED;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}

a{
    /* font-style: italic; */
    text-decoration: NONE;
    font-size: 30px;
    font-family:"Microsoft YaHei";
    font-weight: 500;
    color: rgb(255, 249, 249)
}

.user{
    position: relative;
    height: 20%;
}

.word{
    height: 50%;
}

.footer{
    height: 15%;
}
.user_nav{
    float:left;

    height:100px;
    
    width:100%;
    
    padding-right:20px;
    
    box-sizing:border-box;
    
    background-clip:content-box; 
    /* 标签平均分布 */
    text-align-last: justify;    
}

.footer_nav{
    /* 居中 */
    text-align: center;
    color: rgb(255, 249, 249);
    font-size: 15px;
}

.myselfDiv{
    text-align: center;
    /* 行高行间距 */
    line-height: 1.65;
}
